$token-border-width-small: 1px;
$token-border-width-medium: 2px;
$token-border-width-large: 3px;
$token-border-width-default: 2px;
$token-border-style-solid: solid;
$token-border-style-dashed: dashed;
$token-border-style-dotted: dotted;
$token-border-style-default: solid;
$token-border-radius-none: 0rem;
$token-border-radius-small: .25rem;
$token-border-radius-medium: .5rem;
$token-border-radius-large: 1rem;
$token-border-radius-pill: 10rem;
$token-border-radius-default: 1rem;
$token-breakpoints-xs: 425px;
$token-breakpoints-sm: 576px;
$token-breakpoints-md: 768px;
$token-breakpoints-lg: 992px;
$token-breakpoints-xl: 1200px;
$token-breakpoints-xxl: 1400px;
$token-font-family: 'Roboto', sans-serif;
$token-font-size-paragraph-smaller: 12px;
$token-font-size-paragraph-small: 14px;
$token-font-size-paragraph-normal: 16px;
$token-font-size-paragraph-larger: 24px;
$token-spacing-0: 0rem;
$token-spacing-1: 0.25rem;
$token-spacing-2: 0.5rem;
$token-spacing-3: 0.75rem;
$token-spacing-4: 1.00rem;
$token-spacing-5: 1.25rem;
$token-spacing-6: 1.50rem;
$token-spacing-7: 1.75rem;
$token-spacing-8: 2.00rem;
$token-spacing-9: 2.25rem;
$token-spacing-10: 2.50rem;
$token-spacing-11: 2.75rem;
$token-spacing-12: 3.00rem;
$token-spacing-13: 3.25rem;
$token-spacing-14: 3.50rem;
$token-spacing-15: 3.75rem;
$token-spacing-16: 4.00rem;
$token-spacing-17: 4.25rem;
$token-spacing-18: 4.50rem;
$token-spacing-19: 4.75rem;
$token-spacing-20: 5.00rem;
$token-spacing-auto: auto;
$token-color-black: #000000;
$token-color-white: #FFFFFF;
$token-color-primary-light: #0059c6;
$token-color-primary-dark: #afc6ff;
$token-color-primary-container-light: #d9e2ff;
$token-color-primary-container-dark: #004398;
$token-color-primary-on-light: #ffffff;
$token-color-primary-on-dark: #002d6c;
$token-color-primary-on-container-light: #001a43;
$token-color-primary-on-container-dark: #d9e2ff;
$token-color-danger-light: #b12b32;
$token-color-danger-dark: #ffb3b0;
$token-color-danger-container-light: #ffdad8;
$token-color-danger-container-dark: #8f0e1d;
$token-color-danger-on-light: #ffffff;
$token-color-danger-on-dark: #68000f;
$token-color-danger-on-container-light: #410006;
$token-color-danger-on-container-dark: #ffdad8;
$token-color-success-light: #006a64;
$token-color-success-dark: #4fdbd0;
$token-color-success-container-light: #71f7ec;
$token-color-success-container-dark: #00504b;
$token-color-success-on-light: #ffffff;
$token-color-success-on-dark: #003734;
$token-color-success-on-container-light: #00201e;
$token-color-success-on-container-dark: #71f7ec;
$token-color-warning-light: #725c00;
$token-color-warning-dark: #eac328;
$token-color-warning-container-light: #ffe07d;
$token-color-warning-container-dark: #564500;
$token-color-warning-on-light: #ffffff;
$token-color-warning-on-dark: #3b2f00;
$token-color-warning-on-container-light: #231b00;
$token-color-warning-on-container-dark: #ffe07d;
$token-color-background-light: #fefbff;
$token-color-background-dark: #1b1b1f;
$token-color-background-on-light: #1b1b1f;
$token-color-background-on-dark: #e3e2e6;
$token-color-surface-light: #fefbff;
$token-color-surface-dark: #1b1b1f;
$token-color-surface-on-light: #1b1b1f;
$token-color-surface-on-dark: #e3e2e6;
$token-color-surface-tint-dark: #afc6ff;
$token-color-surface-tint-light: #0059c6;
$token-color-surface-variant-light: #e3e2e6;
$token-color-surface-variant-dark: #46464a;
$token-color-surface-variant-on-light: #46464a;
$token-color-surface-variant-on-dark: #c7c6ca;
$token-color-surface-inverse-light: #303034;
$token-color-surface-inverse-dark: #e3e2e6;
$token-color-surface-inverse-on-light: #f2f0f4;
$token-color-surface-inverse-on-dark: #1b1b1f;
$token-color-surface-inverse-primary-light: #c7c6ca;
$token-color-surface-inverse-primary-dark: #0059c6;
$token-color-outline-light: #77777a;
$token-color-outline-dark: #919094;
$token-color-outline-variant-light: #c7c6ca;
$token-color-outline-variant-dark: #46464a;
$token-color-shadow-light: #000000;
$token-color-shadow-dark: #000000;
$token-color-scrim-light: #000000;
$token-color-scrim-dark: #000000;
$token-pattern-black: #000000;
$token-pattern-white: #FFFFFF;
$token-pattern-blue-100: #ffffff;
$token-pattern-blue-000: #000000;
$token-pattern-blue-010: #001a43;
$token-pattern-blue-020: #002d6c;
$token-pattern-blue-025: #003881;
$token-pattern-blue-030: #004398;
$token-pattern-blue-035: #004eaf;
$token-pattern-blue-040: #0059c6;
$token-pattern-blue-050: #1171f3;
$token-pattern-blue-060: #518dff;
$token-pattern-blue-070: #83aaff;
$token-pattern-blue-080: #afc6ff;
$token-pattern-blue-090: #d9e2ff;
$token-pattern-blue-095: #edf0ff;
$token-pattern-blue-098: #faf9ff;
$token-pattern-blue-099: #fefbff;
$token-pattern-yellow-100: #ffffff;
$token-pattern-yellow-000: #000000;
$token-pattern-yellow-010: #231b00;
$token-pattern-yellow-020: #3b2f00;
$token-pattern-yellow-025: #483a00;
$token-pattern-yellow-030: #564500;
$token-pattern-yellow-035: #635100;
$token-pattern-yellow-040: #725c00;
$token-pattern-yellow-050: #8f7500;
$token-pattern-yellow-060: #ad8e00;
$token-pattern-yellow-070: #cca800;
$token-pattern-yellow-080: #eac328;
$token-pattern-yellow-090: #ffe07d;
$token-pattern-yellow-095: #fff0c8;
$token-pattern-yellow-098: #fff8f0;
$token-pattern-yellow-099: #fffbff;
$token-pattern-red-100: #ffffff;
$token-pattern-red-000: #000000;
$token-pattern-red-010: #410006;
$token-pattern-red-020: #68000f;
$token-pattern-red-025: #7d0014;
$token-pattern-red-030: #8f0e1d;
$token-pattern-red-035: #a01d27;
$token-pattern-red-040: #b12b32;
$token-pattern-red-050: #d34448;
$token-pattern-red-060: #f55d5e;
$token-pattern-red-070: #ff8986;
$token-pattern-red-080: #ffb3b0;
$token-pattern-red-090: #ffdad8;
$token-pattern-red-095: #ffedeb;
$token-pattern-red-098: #fff8f7;
$token-pattern-red-099: #fffbff;
$token-pattern-green-100: #ffffff;
$token-pattern-green-000: #000000;
$token-pattern-green-010: #00201e;
$token-pattern-green-020: #003734;
$token-pattern-green-025: #00433f;
$token-pattern-green-030: #00504b;
$token-pattern-green-035: #005d58;
$token-pattern-green-040: #006a64;
$token-pattern-green-050: #00857e;
$token-pattern-green-060: #00a299;
$token-pattern-green-070: #25beb5;
$token-pattern-green-080: #4fdbd0;
$token-pattern-green-090: #71f7ec;
$token-pattern-green-095: #b1fff7;
$token-pattern-green-098: #e4fffb;
$token-pattern-green-099: #f2fffc;
$token-pattern-gray-100: #ffffff;
$token-pattern-gray-000: #000000;
$token-pattern-gray-010: #1b1b1f;
$token-pattern-gray-020: #303034;
$token-pattern-gray-025: #3b3b3f;
$token-pattern-gray-030: #46464a;
$token-pattern-gray-035: #525256;
$token-pattern-gray-040: #5e5e62;
$token-pattern-gray-050: #77777a;
$token-pattern-gray-060: #919094;
$token-pattern-gray-070: #acabaf;
$token-pattern-gray-080: #c7c6ca;
$token-pattern-gray-090: #e3e2e6;
$token-pattern-gray-095: #f2f0f4;
$token-pattern-gray-098: #faf8fd;
$token-pattern-gray-099: #fefbff;
$token-pattern-gray-variant-100: #ffffff;
$token-pattern-gray-variant-000: #000000;
$token-pattern-gray-variant-010: #1b1b1f;
$token-pattern-gray-variant-020: #303034;
$token-pattern-gray-variant-025: #3b3b3f;
$token-pattern-gray-variant-030: #46464a;
$token-pattern-gray-variant-035: #525256;
$token-pattern-gray-variant-040: #5e5e62;
$token-pattern-gray-variant-050: #77777a;
$token-pattern-gray-variant-060: #919094;
$token-pattern-gray-variant-070: #acabaf;
$token-pattern-gray-variant-080: #c7c6ca;
$token-pattern-gray-variant-090: #e3e2e6;
$token-pattern-gray-variant-095: #f2f0f4;
$token-pattern-gray-variant-098: #faf8fd;
$token-pattern-gray-variant-099: #fefbff;
