@use "sass:map";

@use "./tokens/tokens-variables" as tokens;
@use "./tokens/tokens-var";

$prefix: "ds-";

$theme-breakpoints: (
    xs: tokens.$token-breakpoints-xs,
    sm: tokens.$token-breakpoints-sm,
    md: tokens.$token-breakpoints-md,
    lg: tokens.$token-breakpoints-lg,
    xl: tokens.$token-breakpoints-xl,
    xxl: tokens.$token-breakpoints-xxl,
) !default;

$theme-status: "error", "success", "warning" !default;

$theme-schemas: "principal", "error", "success", "warning" !default;
